html,
body {
  height: 100%;
  overflow: hidden;
  text-size-adjust: 100%;
  box-sizing: border-box;
  scrollbar-width: thin;
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  scrollbar-width: inherit;
}

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-thumb {
  background: #7e7e7e;
  border-radius: 3px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill:active,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus,
select:-webkit-autofill:active {
  transition:
    background-color 600000s ease-in-out 0s,
    color 600000s ease-in-out 0s;
}

.text-nowrap {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.text-more-line-nowrap {
  overflow: hidden;
  text-overflow: ellipsis;

  /* display: -webkit-box; */
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

#root {
  height: 100%;
  width: 100%;
}

.layout-footer {
  text-align: center;
  font-size: 14px;
  height: 40px;
  line-height: 40px;
  padding: 0 !important;
}

.cl-ant-layout-header {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.cl-ant-breadcrumb-separator {
  line-height: 56px;
}

.layout-header {
  padding-left: 20px !important;
}

.layout-content {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.layout-container {
  overflow: auto;
  height: 100%;
  width: 100%;
}

.layout-container .cl-ant-tabs-content > .cl-ant-tabs-tabpane {
  padding: 16px;
}

.layout-container .pro-tabs {
  z-index: 10;
}

.layout-container .pro-tabs .cl-ant-tabs-nav-wrap {
  overflow: visible !important;
}

.layout-container .layout-tabpanel {
  width: 100%;
  min-height: calc(100vh - 232px);
  display: flex;
  justify-content: center;
  align-items: center;
}
